.search-filter form{
    width: 100%;
}

.search-filter input{
    border: none;
    width: 95%;
    background-color: white
}

input:focus {
    outline: none;
  }

.search-filter{
    display: flex;
    background-color: white;
    width: 35vw;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.search-filter mat-icon{
    margin: 10px 15px;    
}
.search-filter form{
    margin: 10px 5px;    
}

.region-filter {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: pointer;
}

.region-filter mat-icon{
    padding: 5px;
}

.region-filter p{
    margin: 10px;
   
}

.region-container{
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px 0;
    background-color: white   
}

.region-container.btn{
    height: 25px;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
}

.search-region-filter{
    margin: 0 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 45px;
}

.region-container p{
    cursor: pointer;
    padding-left: 20px;
}

@media(max-width: 480px){
    .search-filter{
        width: 75vw;
    }
    .search-region-filter{
        position: static;
        margin: 20px 0px;
    }
}