.detail{
    height: 100%;
}


h1{
    font-weight: bold;
    font-size: 2rem;
}

span{
    font-weight: 20;
}

img{
    width: 500px;
    max-height: 370px;
}

.main-container{
    margin: 0px 150px;
    padding-top: 50px;
}

.main-content{
    display: flex;
    align-items: center;
}

.right-container{
    width: 100%;
    margin: 50px;
}

.country-info{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px 50px 0px;
}

.btn-back{
    display: flex;
    align-items: center;
    /* margin: 50px 0; */
    padding: 0 45px 0 35px;
}

.btn-border{
    margin: 5px;
    padding: 5px 10px;
}

.btn-back h4{
    margin: 10px 0 10px 10px;    
}

.btn{
    cursor: pointer;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.06);
}

@media(max-width: 480px){
    .main-content{
        flex-direction: column;
    }
    .country-info{
        flex-direction: column; 
    }
    img{
        width: 85vw;
    }
    .right-container{
        width: 85vw;
    }
    .left-info{
        margin-bottom: 20px;
    }
    .detail{
        height: 1100px;
    }
}