<app-navbar></app-navbar>


<ng-container *ngIf="countryDetail$ | async as country">
    <div class="main-container">
        <button [routerLink]="''"><mat-icon>keyboard_backspace</mat-icon>Back</button>

        <div class="main-content">
            <div class="left-container">
                <img width="100%" mat-card-image src={{country.flags.svg}} alt="country flag">
            </div>
            <div class="right-container">
                <h3>{{country.name}}</h3>
                <p>Native Name: {{country.nativeName}}</p>
                <p>Population: <span>{{ country.population | population }}</span></p>
                <p>Region: <span>{{country.region}}</span></p>
                <p>Sub Region: <span>{{country.subregion}}</span></p>
                <p>Capital: <span>{{country.capital}}</span></p>
                <p>Top Level Domain: <span>{{country.topLevelDomain}}</span></p>
                <p>Currencies: <span *ngFor="let currency of country.currencies"> {{ currency.name }}</span></p>
                <p>Languages: <span *ngFor="let language of country.languages"> {{ language.name }}</span></p>
                <p>Border Countries: <button *ngFor="let border of country.borders"> {{ border }}</button></p>

            </div>
        </div>

    </div>
</ng-container>