.filters{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-top: 40px;
}

.country-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 0;
}